setuptools>=65
wheel
protobuf==3.20.*

gunicorn
flask
joblib
pandas
numpy==1.24.4
scikit-learn==1.1.3
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
isodate
textstat
requests
